smoking_data
smoking_data_backup
smoking_data.tar.gz
.vscode
raw
new_data
.ipynb_checkpoints
.DS_Store
.env
__pycache__
visualize
data
old_data
data.tar.gz
pipeline
pipeline.tar.gz
backup
model
cm.jpg
loss.jpg
archive
